<div id="<%= dom_id club %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Invitation code:</strong>
    <%= club.invitation_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= club.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Owner:</strong>
    <%= club.owner_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this club", club, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this club', edit_club_path(club), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
