<h2 class="mb-5 text-lg font-semibold"><%= t('.members') %></h2>

<div class="flex flex-col">
  <% club.club_users.order(session_count: :desc).preload(:user).each do |membership| %>
    <div class="flex flex-row justify-between">
      <div class="flex flex-row space-x-3">
        <div class="rounded-full border-grey-400 dark:border-zinc-700 border-2 w-fit h-fit">
          <%= image_tag membership.user.gravatar_url, class: "rounded-full h-14" %>
        </div>
        <div class="flex flex-col justify-center">
          <span class="text-base font-medium"><%= membership.user.username%></span>
          <span class="text-sm text-zinc-500"><%= membership.session_count %> <%= t('.read_sessions') %></span>
        </div>
      </div>
      <div class="flex flex-col justify-center">
        <i class="fa fa-angle-right text-2xl text-zinc-500"></i>
      </div>
    </div>
    <% if membership != club.club_users.order(session_count: :desc).last %>
      <%= render(SeparatorComponent.new) %>
    <%end%>
  <% end %>
</div>
