<div id="modal" data-modal-target="modalWrapper"
  class="modal hidden fixed pin inset-0 overflow-auto flex items-center justify-center bg-black/50"
  style="z-index: 9999;">

  <div class="max-w-lg max-h-screen w-full relative">
    <div class="m-1 bg-white rounded shadow">
      <div data-modal-target="modalContent" class="px-4 py-5 border-gray-200 sm:px-6">

        <h1 class="my-4 text-2xl font-bold"><%= t('.club_settings') %></h1>
        <div class="flex flex-row items-baseline space-x-2">
          <h2 class="mt-1 text-lg font-semibold"><%= t('.invitation_code') %></h2>
          <span><%= club.invitation_code %></span>
        </div>

        <p class="text-sm text-slate-500 italic"><%= t('.invitation_description') %></p>

        <div class="mt-5 flex">
          <%= render(ButtonComponent.new(variant: 2)) { link_to t('.leave'), sign_up_path } %>
        </div>
      </div>
    </div>
  </div>
</div>
