<%= render(ModalComponent.new) do %>

  <h1 class="my-4 text-2xl font-bold"><%= t('.club_settings') %></h1>
  <div class="flex flex-row items-baseline space-x-2">
    <h2 class="mt-1 text-lg font-semibold"><%= t('.invitation_code') %></h2>
    <span><%= club.invitation_code %></span>
  </div>

  <p class="text-sm text-slate-500 italic"><%= t('.invitation_description') %></p>

  <div class="mt-5 flex">
    <%= render(ButtonComponent.new(variant: 2)) { link_to t('.leave'), sign_up_path } %>
  </div>

<% end %>