<div class="bg-gray-100 dark:bg-zinc-800 rounded-xl flex flex-row content-around justify-between">
  <div class="space-y-3 flex flex-col justify-center pl-5">
    <%= link_to session.name, session, class: "text-lg font-semibold leading-6" %>
    <p class="uppercase text-xs text-zinc-400 font-semibold space-x-1">
      <% if session.state == 'submission' %>
        <i class="fas fa-clock text-indigo-500"></i>
        <span>
          <%= t('.starts') %>
          <%= prefixed_time(read_session.next_step_date) %>
        </span>
      <% else %>
        <span>
          <%= session.state %>
        </span>
      <% end %>
    </p>
  </div>
  <div class="h-full flex pr-12">
    <% if session.selected_book.cover.present?%>
      <%= image_tag session.selected_book.cover.variant(:thumb), class: "h-36 m-0 p-0" %>
    <% else %>
      <%= image_tag '/cover-placeholder.jpg', class: "rounded-lg max-h-56" %>
    <% end %>
  </div>
</div>
