<div data-controller="note" class="mx-auto">
  <div class="flex flex-row mt-1 mx-auto">
    <button><%= render(StarComponent.new(size: 60, fill: false, data_note_target: "star", value: 2)) %></button>
    <button><%= render(StarComponent.new(size: 60, fill: false, data_note_target: "star", value: 4)) %></button>
    <button><%= render(StarComponent.new(size: 60, fill: false, data_note_target: "star", value: 6)) %></button>
    <button><%= render(StarComponent.new(size: 60, fill: false, data_note_target: "star", value: 8)) %></button>
    <button><%= render(StarComponent.new(size: 60, fill: false, data_note_target: "star", value: 10)) %></button>
  </div>
</div>
