<h2 class="mb-5 text-lg font-semibold"><%= t('.selected_book') %></h2>

<div class="flex flex-row space-x-3">
  <div class="rounded-lg">
    <%= image_tag '/placeholder.jpeg', class: "rounded-lg max-h-56" %>
  </div>
  <div class="flex-col">
    <h3><%= book.title %></h3>
    <p><%= t('.submitted_by', submitters: book_submitters(book, @read_session)) %></p>
  </div>
</div>

<div class="mt-5 w-full flex">
  <%= render(ButtonComponent.new) { link_to t('.review'), '/' } %>
</div>

<hr class="my-5">
