<div class="self-center justify-self-center flex-col flex mx-auto w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render 'head', read_session: @read_session  %>

  <%= render 'top_cards', read_session: @read_session  %>

  <hr class="my-5">

  <%= render 'proposals', read_session: @read_session  %>

  <% @read_session.submitted_books.each do |book| %>
    <div>
      <div class="rounded-lg">
        <%= image_tag '/placeholder.jpeg', class: "rounded-lg" %>
      </div>
      <h3><%= book.title %></h3>
      <p><%= t('.submitted_by', submitters: book_submitters(book, @read_session)) %></p>
    </div>
  <% end %>

  <%= render(ButtonComponent.new) { link_to t('.join'), read_session_join_path(@read_session) } %>

</div>
