<%= render(ModalComponent.new) do %>

  <h1 class="my-4 text-2xl font-bold"><%= t('.settings') %></h1>
  <h2 class="mt-1 text-lg font-semibold"><%= t('.update_personal_infos') %></h2>

  <%= form_for current_user, url: me_update_path do |form| %>
    <%= render(Form::TextFieldComponent.new(form: form, name: :email, label: t(".email"), default_value: current_user.email)) %>
    <%= render(Form::TextFieldComponent.new(form: form, name: :username, label: t(".username"), default_value: current_user.username)) %>
    <%= render(Form::PasswordFieldComponent.new(form: form, name: :password, label: t(".password"))) %>
    <%= render(Form::SubmitComponent.new(form: form, text: t(".update"))) %>
  <% end %>
  <%= render(SeparatorComponent.new) %>

  <div class="mt-5 flex">
    <%= render(ButtonComponent.new(variant: 2)) { button_to t('.sign_out'), sign_out_path, method: :delete } %>
  </div>

<% end %>