<div data-controller="submission">

  <form
    action="<%= google_books_path(turbo_frame: "search_results") %>"
    data-turbo-frame="search_results"
    class="peer"
    data-controller="googleBookSearch"
    data-action="invalid->googleBookSearch#hideValidationMessage:capture input->googleBookSearch#submit"
    >
    <label for="search_query" class="block text-sm font-medium text-gray-700 dark:text-zinc-200"><%= t('.search-book-author')%></label>
    <input class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md dark:text-stone-300 dark:bg-zinc-800 dark:border-none"
           id="search_query" 
           name="query" 
           type="search"
           pattern=".*\w+.*"
           required
           autocomplete="off">

    <button data-googleBookSearch-target="submit">
      Search
    </button>
  </form>

  <turbo-frame id="search_results" class="empty:hidden peer-invalid:hidden"></turbo-frame>

  <%= form_for :submission, url: read_session_submissions_path do |form| %>

    <%= form.fields_for :book_attributes do |book_field| %>
      <%= book_field.hidden_field :google_book_id, id: "inputBookGoogleId" %>
      <%= book_field.hidden_field :title, id: "inputBookTitle" %>
    <% end %>

    <button data-submission-target="submit">
      Search
    </button>
  <% end %>
</div>
